section {
    .seccionErrorHijo {
        .parrafoError {
            width: 95%;
        }
        .imagenError {
            width: 95vw;
        }    
    }
    .listaErrorBox {
        width: 100%;
    }           
}