/* Header - Barra Navegación */
header {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: $bordeGrueso;
    z-index: 1;
}

.header__contenedorLogo {
    margin: 2px;
    margin-left: 90px;    
}


header a img {
    width: 110px;
}

nav.header__nav__menuNavegacion {
    background-color:black;
    margin: 5px 20px 0 0;
}

nav.header__nav__menuNavegacion a.header__nav__a--botonPrincipal {     
    color:white;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    background-color: black;
    border-radius: 5px;
    border: $bordeAngosto;
    text-decoration: none;
}

nav.header__nav__menuNavegacion a.header__nav__a--botonPrincipal:hover {
    background-color:$colorPrincipal;
    border-radius: 5px;
    border: $bordeAngosto;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 16px;
}
nav.header__nav__menuNavegacion ul {
    padding-left: 0;
}
nav.header__nav__menuNavegacion ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 6px;
}

.header__nav__subMenuServicios {
    display: none;
    position: absolute;
    right: 0;
    padding-top: 10px;
    margin-right: 20px; 
}

li.openSubmenu:hover ul.header__nav__subMenuServicios {
    display: block;
}