/* Inicio */


main {
    .contenedorIndex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        .primerFilaIndex {
            display: flex;
            flex-direction: row;
            overflow: hidden;
            border-top: #ce984e 3px solid;
            .ocultar {
                overflow: hidden;
            }
            .boxServiciosIndex {
                display: flex;
                width: 50vw;
                height: 42vh;
                justify-content: center;
                align-items: center;
                background-image: url(../img/reparacion.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(1);
                .boxLink {
                    text-decoration: none;
                    .tituloSeccionIndex {
                        opacity: 00%;
                        font-size: 6vw;
                        color:white;
                        text-shadow: 0px 0px 5px black;
                        -webkit-text-stroke: 1px #ce984e;
                    }
                }
            }
            .boxServiciosIndex:hover {
                filter: grayscale(0);
                transform: scale(1.15);
                transition: all 3s;
            }
            .boxServiciosIndex:hover .tituloSeccionIndex {
                filter: grayscale(0);
                transform: scale(1.4);
                transition: all 3s;
                opacity: 100%;
                
            }
            .boxProductosIndex {
                display: flex;
                width: 50vw;
                height: 42vh;
                justify-content: center;
                align-items: center;
                background-image: url(../img/productosHome.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(1);
                .boxLink {
                    text-decoration: none;
                    .tituloSeccionIndex {
                        opacity: 00%;
                        font-size: 6vw;
                        color:white;
                        text-shadow: 0px 0px 5px black;
                        -webkit-text-stroke: 1px #ce984e;
                    }
                }
            }
            .boxProductosIndex:hover {
                filter: grayscale(0);
                transform: scale(1.15);
                transition: all 3s;    
            }
            .boxProductosIndex:hover .tituloSeccionIndex {
                filter: grayscale(0);
                transform: scale(1.3);
                transition: all 3s;
                opacity: 100%;
            }
        }
        .segundaFilaIndex {
            display: flex;
            flex-direction: row;
            overflow: hidden;
            border-bottom: #ce984e 3px solid;
            .ocultar {
                overflow: hidden;
            }
            .boxNosotrosIndex {
                display: flex;
                width: 34vw;
                height: 42vh;
                justify-content: center;
                align-items: center;
                background-image: url(../img/inicio.jpeg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(1);
                .boxLink {
                    text-decoration: none;
                    .tituloSeccionIndex {
                        opacity: 00%;
                        font-size: 4vw;
                        color:white;
                        text-shadow: 0px 0px 5px black;
                        -webkit-text-stroke: 1px #ce984e;
                    }
                }
            }
            .boxNosotrosIndex:hover {
                filter: grayscale(0);
                transform: scale(1.15);
                transition: all 3s;
            }
            .boxNosotrosIndex:hover .tituloSeccionIndex {
                filter: grayscale(0);
                transform: scale(1.3);
                transition: all 3s;
                opacity: 100%;
            }
            .boxSucursalesIndex {
                display: flex;
                width: 34vw;
                height: 42vh;
                justify-content: center;
                align-items: center;
                background-image: url(../img/mapsSucursales.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(1);
                .boxLink {
                    text-decoration: none;
                    .tituloSeccionIndex {
                        opacity: 0%;
                        font-size: 3.5vw;
                        color:white;
                        text-shadow: 0px 0px 5px black;
                        -webkit-text-stroke: 1px #ce984e;
                    }
                }
            }
            .boxSucursalesIndex:hover {
                filter: grayscale(0);
                transform: scale(1.2);
                transition: all 3s;
            }
            .boxSucursalesIndex:hover .tituloSeccionIndex {
                filter: grayscale(0);
                transform: scale(1.2);
                transition: all 3s;
                opacity: 100%;
            }
            .boxContactoIndex {
                display: flex;
                width: 34vw;
                height: 42vh;
                justify-content: center;
                align-items: center;
                background-image: url(../img/mailBox.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(1);
                .boxLink {
                    text-decoration: none;
                    .tituloSeccionIndex {
                        opacity: 00%;
                        font-size: 4vw;
                        color:white;
                        text-shadow: 0px 0px 5px black;
                        -webkit-text-stroke: 1px #ce984e;
                    }
                }
            }
            .boxContactoIndex:hover {
                filter: grayscale(0);
                transform: scale(1.15);
                transition: all 3s;
            }
            .boxContactoIndex:hover .tituloSeccionIndex {
                filter: grayscale(0);
                transform: scale(1.3);
                transition: all 3s;
                opacity: 100%;
            }
        }
            
        
    }
}
