/*Productos*/


.colorBoton {
    background-color:black !important;
    border: $colorPrincipal !important;
}
.colorBoton:hover {
    background-color: $colorPrincipal !important;
    border: $colorPrincipal !important;
}

.boton__carrito {
    color:white;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    background-color: black;
    border-radius: 5px;
    border: $bordeAngosto;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.boton__carrito:hover {
background-color:$colorPrincipal;
    border-radius: 5px;
    border: $bordeAngosto;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 16px;
}

.separo_container {
    margin-bottom: 20px;
}

.container {
    margin-bottom: 20px;
}



