/*Servicios*/

// declaración de variables para la sección Servicios //

$altBoxServicios: 900px;


section {
    &.cuerpoServicios {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        h3 {
            color: $colorPrincipal;
        }
        .descripcionServicio {
            width: 70%;
            text-align: justify;
            margin-bottom: 30px;
            .parrafoServicio {
                text-align: justify;
                margin-bottom: 30px;
            }
        }
        .margenTopMenu {
            height: 50px;
            visibility: hidden;
        }
        .servicioReparacion {
            background-image: url(../img/reparacion.jpg);
        }
        .servicioLimpieza {
            background-image: url(../img/limpieza.jpg);
        }
        .servicioPuestaPunto {
            background-image: url(../img/puestaapunto.jpg);
        }
        .servicioVenta {
            background-image: url(../img/venta.jpg);
        }
        .boxServicios {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: $altBoxServicios;
            min-height: $altBoxServicios/2;
            margin-top: 60px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: $bordeGrueso;
            .servicioFondoOpacidad {
                background-color: black;
                opacity: 90%;
                padding: 10px;
                text-align: center;
                .parrafoServiciosJustificado {
                    text-align: justify;
                    padding: 10px;
                }
            }
        }
        
         
            
        
    }
}