/*Sucursales*/

// declaración de variables para la pag Sucursales //

$mapaBlancoNegro: si; 


main {
    section {
        margin-bottom: 60px;
        &.seccionSucursales {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            .parrafoSucursales {
                text-align: justify;
                margin-bottom: 30px;
                padding-bottom: 20px;
            }
            .contenedorMapas {
                display: flex;
                flex-direction: column;
                align-items: center;
                .datosSucursales {
                    color: $colorPrincipal;
                    list-style: none;
                    padding: 10px 0px;
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    .remarcado {
                        color:white;
                        margin-right: 5px;
                    }
                }
                a {
                    color: gray;
                }
                a:hover {
                    color:$colorPrincipal;
                }
                .mapaSucursales {
                    width: 900px;
                    height: 450px;
                    border: $bordeGrueso;
                    border-radius: 5px;
                    opacity: 0.8;
                    @if $mapaBlancoNegro == si {
                        filter: grayscale(1);
                    } @else {
                        filter: none;
                    }
                    
                    transition: all .8s;
                }
                .mapaSucursales:hover {
                    opacity: 1;
                    filter: grayscale(0);
                }
            }
            .margenTopMenuProductos {
                height: 100px;
                visibility: hidden;
            }
        }
    }
}









