/* Reset General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Body General */
    body {
        background-image: radial-gradient(black, #332e26);
    }

// Header Desktop
@import "headerDesktop";


/* Main General */
    main {
        width: 100%;
    }


/* General */
    h1 {
        color:#ce984e;
        font-style: italic;
        word-spacing: 5px;
        text-align: center;
        padding: 20px;
    }

    h2 {
        color: #ce984e;
        text-align: center;
        padding: 20px;
    }
    p {
        color:#ce984e; 
    }

    // Inicio Desktop
    @import "inicio";

    // Nosotros Desktop
    @import "nosotros";
    
    // Servicios Desktop
    @import "servicios";
    
    // Productos Desktop
    @import "productos";
    
    // Sucursales Desktop
    @import "sucursales";
    
    // Contacto Desktop
    @import "contacto";
    
    // Footer Desktop
    @import "footer";
    
    // error404 Desktop
    @import "error404";




/* Css para Mobile */
@media screen and (max-width: 426px) {

    // Header para Mobile 
    @import "./Mobil/headerMobile";

    // Nosotros para Mobile
    @import "./Mobil/nosotrosMobile";

    // Servicios para Mobile
    @import "./Mobil/serviciosMobile";

    // Sucursales para Mobile
    @import "./Mobil/sucursalesMobile";
    
    // Contacto para Mobile
    @import "./Mobil/contactoMobile";
     
    // Footer para Mobile
    @import "./Mobil/footerMobile";

}    
        

/* Css para Tablet */
@media screen and (max-width: 768px) {

    // Header para Tablet
    @import "./Tablet/headerTablet";
    
    // Nosotros para Tablet
    @import "./Tablet/nosotrosTablet";

    // Servicios para Tablet
    @import "./Tablet/serviciosTablet";
        
    // Sucursales para Tablet
    @import "./Tablet/sucursalesTablet";
         
}